
@font-face {font-family: "iconfont";
  src: url('../assets/iconfont/iconfont.eot?t=1539852209394'); /* IE9*/
  src: url('../assets/iconfont/iconfont.eot?t=1539852209394#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/iconfont/iconfont.woff') format('woff'),
  url('../assets/iconfont/iconfont.ttf?t=1539852209394') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/iconfont/iconfont.svg?t=1539852209394#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  vertical-align: -2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessory:before { content: "\e6dd"; }

.icon-activity:before { content: "\e6de"; }

.icon-activity_fill:before { content: "\e6df"; }

.icon-add:before { content: "\e6e0"; }

.icon-addition_fill:before { content: "\e6e1"; }

.icon-addition:before { content: "\e6e2"; }

.icon-addpeople_fill:before { content: "\e6e3"; }

.icon-addpeople:before { content: "\e6e4"; }

.icon-addressbook_fill:before { content: "\e6e5"; }

.icon-addressbook:before { content: "\e6e6"; }

.icon-browse_fill:before { content: "\e6e7"; }

.icon-browse:before { content: "\e6e8"; }

.icon-brush:before { content: "\e6e9"; }

.icon-brush_fill:before { content: "\e6ea"; }

.icon-close:before { content: "\e6eb"; }

.icon-document:before { content: "\e6f3"; }

.icon-document_fill:before { content: "\e6f4"; }

.icon-editor:before { content: "\e6f5"; }

.icon-empty:before { content: "\e6f7"; }

.icon-empty_fill:before { content: "\e6f8"; }

.icon-enter:before { content: "\e6f9"; }

.icon-fullscreen:before { content: "\e6fe"; }

.icon-group:before { content: "\e6ff"; }

.icon-group_fill:before { content: "\e700"; }

.icon-lock_fill:before { content: "\e709"; }

.icon-lock:before { content: "\e70a"; }

.icon-manage_fill:before { content: "\e70b"; }

.icon-manage:before { content: "\e70c"; }

.icon-narrow:before { content: "\e711"; }

.icon-other:before { content: "\e714"; }

.icon-people_fill:before { content: "\e715"; }

.icon-people:before { content: "\e716"; }

.icon-refresh:before { content: "\e71e"; }

.icon-return:before { content: "\e720"; }

.icon-right:before { content: "\e721"; }

.icon-scan:before { content: "\e722"; }

.icon-setup_fill:before { content: "\e728"; }

.icon-setup:before { content: "\e729"; }

.icon-share_fill:before { content: "\e72a"; }

.icon-share:before { content: "\e72b"; }

.icon-trash:before { content: "\e738"; }

.icon-trash_fill:before { content: "\e739"; }

.icon-undo:before { content: "\e73a"; }

.icon-unlock_fill:before { content: "\e73b"; }

.icon-unlock:before { content: "\e73c"; }

.icon-search1:before { content: "\e741"; }

.icon-packup:before { content: "\e749"; }

.icon-unfold:before { content: "\e74a"; }

.icon-jiedianguanli:before { content: "\eb64"; }

.icon-icon_baocun:before { content: "\eb8e"; }

.icon-icon_yingyongguanli:before { content: "\eb8f"; }

.icon-zuzhiqunzu:before { content: "\ebd8"; }

.icon-shebeizhuangtai:before { content: "\ec23"; }

.icon-wangguan:before { content: "\ec5d"; }

.icon-liebiao:before { content: "\ec6b"; }

.icon-yingjian:before { content: "\ec89"; }
